@font-face {
    font-family: digitalFont;
    src: url("../fonts/digital_dismay.otf");
}

#timer{
    color: #333;
    grid-column: 1 / 4;
    text-align: center;
    font-family: digitalFont; 
    font-size: 120px;
}

#btnStartTimer{
    grid-column: 1 / 2;
}
#btnStopTimer{
    grid-column: 2 / 3;
}
#btnResetTimer{
    grid-column: 3 / 4;
}
.title-container{
    width: 450px;
    margin-left: 100px;
    grid-template-columns: 140px 140px 140px;
    grid-template-rows: 110px 50px;
}