.separationLine{
    grid-column: 1 / 6;
}
body{
    width: 100%;
}    
.title-container, .table-body, .table-head{
    margin: 40px 10px;
}
.title-container{
    grid-template-columns: 125px 80px 150px;
    grid-template-rows: 50px 25px auto;
}
.table-body, .table-head{
    grid-template-columns: 260px 40px 40px 40px 40px;
}
.medium-screen-hidden,
.small-screen-hidden{
    display: none;
}


.modal-window form{
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 15px;
    grid-template-columns: 300px;
    grid-template-rows: 35px 30px 35px 30px 150px 30px 35px ;
    margin-top: 10px;
}

.modal-buttons{
    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-template-columns: 60px 60px;
    margin-top: 10px;
}

.modal-buttons{
    margin-left: 160px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.modal-window form span{
    padding-top: 7px;
    justify-self: left;
    font-weight: bold;
}

.error-banner{
    grid-column: 1 / 2;
}